{% extends 'admin/admin_base.html' %}

{% block title %}
    Blog_mini - 数据导入导出
{% endblock %}

{% block admin_content %}
    <div class="entry-box custom-blog">
        <h4><strong>数据导入导出</strong></h4>
        <hr/>
            <form method="post" action="" enctype="multipart/form-data">
                <div class="modal-body">
                        <div class="form-group">
                            {{ form.csrf_token }}
                            {{ form.fileupload.label }}
                            {{ form.fileupload(class='form-control', required='') }}
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="editblogInfoCfmClick" type="submit" class="btn btn-success">确定</button>
                </div>
            </form>
        <a href="{{ url_for('admin.data_export') }}">
            <div class="input-group">
            <span class="input-group-btn">
               	<button type="button" class="btn btn-success">
               		<span class="glyphicon glyphicon glyphicon-zoom-in"/>数据导出
              	</button>
            </span>
            </div>
        </a>
    </div>
{% endblock %}
